on:
  push:
    branches-ignore:
      - "main"
    tags-ignore:
      - "**"

name: build
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@v3
      - name: Setup | Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19.x
      - name: Setup | Go Cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Setup | Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
      - name: Setup | Image metadata
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: |
            weaveworks/cluster-controller
          tags: |
            type=ref,event=branch
      - name: Build | Test
        run: |
          go version
          make test
      - name: Publish | Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Publish | Build and Push
        uses: docker/build-push-action@v2
        with:
          push: true
          builder: ${{ steps.buildx.outputs.name }}
          context: .
          file: ./Dockerfile
          platforms: linux/amd64
          tags: ${{ steps.meta.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max